{
    "API_EMAIL": "spack@cloudflare.com",
    "API_KEY": "<RECOMMEND TO PROVIDE AS ENV VAR>",
    "ACCOUNT_ID": "<GUID FROM THE CLOUDFLARE DASHBOARD>",
    //"INVITE_EMAIL": "steven.pack.code@gmail.com",
    //"ZONE_NAME": "example.org"
}
